.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #3e9af8;
  color: #fff;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

ul {
  width: 330px;
}

li {
  margin-top: 1rem;
}

.hide {
  visibility: hidden;
}
